header {
    background-image: linear-gradient(#4500CA 4%, rgba(69, 0, 202, 0) 50%), url('../hero-background.jpg'), linear-gradient(60deg, #28005f 16%, #8300e5 64%, #0f3bff 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
}

#top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0;
}

#logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.title {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

#nav-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    box-sizing: border-box;
    align-items: center;
}

.navbar-elem {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
}

.navbar-elem:hover {
    text-decoration: underline;
}

.welcome-message {
    font-size: 1rem;
    color: #fff;
}