.main {
    height: 80vh;
    overflow-y: auto;
    width: 100%;
}

.post-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:first baseline;
    gap: 1rem;
    margin-top: 2rem;
    padding-left: 2rem;
}

.main a {
    color: #61dafb;
    text-decoration: none;
}

.main a:hover {
    text-decoration: underline;
}

.unpublished {
    color: red;
    font-size: 0.8rem;
}