.main {
    display: flex;
    flex: 1;
}

.main h2 {
    font-size: 3.5rem;
    color: #3e51eb;
    font-weight: 600;
}

.main a {
    color: #61dafb;
    text-decoration: none;
}

.unpublished {
    color: red;
    font-size: 0.8rem;
}

.truncate {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-media {
    object-fit: fill;
    width: 100%;
}

.actions {
    text-transform: uppercase;
}

.actions a:hover {
    text-decoration: none;
}

.card {
    height: 400px;
}

.card-content {
    height: 150px;
}

.card-actions {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}