.form-group {
  margin-bottom: 1rem;
}

label {
  font-size: 1.2rem;
  font-weight: 500;
}

input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #000;
  border-radius: 5px;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #61dafb;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}